ActionSheet/__history/
AndroidCalendarManager/__history/
AndroidCalendarManager/Android/
Base64Converter/__history/
Base64Converter/source/__history/
BitmapUrl/__history/
BitmapFromUrl/__history/
ColorMoveAnimation/__history/
Workflow/codigo/__history/
Workflow/projeto/__history/
DynamicListGrid/__history/
WifiStatusBar/Android/
WifiStatusBar/__history/
ImageCut/Android64/
ImageCut/__history/
ImageCut/Win32/
WhatsAppShare/Android/
WhatsAppShare/Android64/
WhatsAppShare/__history/
ComboAutoComplete/code/__history/
ComboAutoComplete/project/__history/
ComboAutoComplete/project/Win32/Debug/ComboAutoComplete.exe
ComboAutoComplete/project/Win32/
FMXTests/__history/
