ActionSheet/__history/
AndroidCalendarManager/__history/
AndroidCalendarManager/Android/
Base64Converter/__history/
Base64Converter/source/__history/
BitmapUrl/__history/
BitmapFromUrl/__history/
ColorMoveAnimation/__history/
Workflow/codigo/__history/
Workflow/projeto/__history/
DynamicListGrid/__history/
WifiStatusBar/Android/
WifiStatusBar/__history/
ImageCut/Android64/
ImageCut/__history/
ImageCut/Win32/
WhatsAppShare/Android/
WhatsAppShare/Android64/
WhatsAppShare/__history/
ComboAutoComplete/code/__history/
ComboAutoComplete/project/__history/
ComboAutoComplete/project/Win32/Debug/ComboAutoComplete.exe
ComboAutoComplete/project/Win32/
FMXTests/__history/
IniFiles/__history/
IniFiles/Win32/
WordStructureView/__history/
WordStructureView/codigo/xml/__history/
WordStructureView/codigo/zip/__history/
WordStructureView/projeto/__history/
WordStructureView/projeto/Win32/
ShellExecute/__history/
FuncionParser/__history/
FuncionParser/exemplo/__history/
ProgressCircle/__history/
ProgressCircle/Win32/
BaseProjectApp/codigo/sincronizacao/__history/
BaseProjectApp/codigo/telas/__history/
BaseProjectApp/projeto/__history/
BaseProjectApp/codigo/wait/__history/
